<div class='big_box'>
<% (1..9).each do |x| %>
<div id = 'square'>
    <% if @users_moves.include?(x) %>
      X
  <% elsif @comps_moves.include?(x) %>
      O 
  <% else %>
    <%= link_to x, game_path(@game, player_move: x) %>
  <% end %>
</div>
<% end %>
</div>