<br>
<br>

<%= render 'table' %>

<aside class = 'aside'>

  <h3><%= @message %></h3>

  <b>Past Moves
  <% @moves.each do |move| %>
    <%= move.square_id %>
      <% if move.player_id %>
          X;
      <% else %>
            O;
      <% end %>
      <% end %>
      </b>
  <br>


<p><%= link_to 'New Game', new_game_path %></p>

</aside>